<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>编辑个人资料界面</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- img cut -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.Jcrop.js}"></script>
    <script type="text/javascript">
        jQuery(function($){
            // Create variables (in this scope) to hold the API and image size
            var jcrop_api,
                boundx,
                boundy,
                // Grab some information about the preview pane
                $preview = $('#preview-pane'),
                $pcnt = $('#preview-pane .preview-container'),
                $pimg = $('#preview-pane .preview-container img'),
                xsize = $pcnt.width(),
                ysize = $pcnt.height();
            $('#target').Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: 1
            },function(){
                // Use the API to get the real image size
                var bounds = this.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                // Store the API in the jcrop_api variable
                jcrop_api = this;
                // Move the preview into the jcrop container for css positioning
                $preview.appendTo(jcrop_api.ui.holder);
            });
            function updatePreview(c)
            {
                if (parseInt(c.w) > 0)
                {
                    var rx = xsize / c.w;
                    var ry = ysize / c.h;
                    $pimg.css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });
                }
            };
        });
        function validateEmail(){
            alert("test");
            var x=document.forms["emailForm"]["email"].value;
            var atpos=x.indexOf("@");
            var dotpos=x.lastIndexOf(".");
            if (atpos &lt; 1 || dotpos &lt; atpos+2 || dotpos+2 &gt;= x.length){
                alert("不是一个有效的 e-mail 地址");
                return false;
            }
        }
    </script>
    <link rel="stylesheet" th:href="@{/css/jquery.Jcrop.css}" type="text/css" />
    <style type="text/css">
        .jcrop-holder #preview-pane {
            display: block;
            position: absolute;
            z-index: 2000;
            top: 10px;
            right: -280px;
            padding: 6px;
            border: 1px rgba(0,0,0,.4) solid;
            background-color: white;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }
        #preview-pane .preview-container {
            width: 170px;
            height: 170px;
            overflow: hidden;
        }
    </style>
</head>
<body>

    <div class="container">
        <div th:replace="sample/sample::bar_login"></div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#base" data-toggle="tab">基本信息</a></li>
            <li><a href="#email" data-toggle="tab">修改邮箱</a></li>
            <li><a href="#head" data-toggle="tab">修改头像</a></li>
            <li><a href="#pwd" data-toggle="tab">修改密码</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="base">
                <form th:action="@{/editUserInfo/{col}(col='base')}">
                    <input name="name" type="text" placeholder="用户名" class="form-control" style="margin-left:35%;margin-top:40px;width:30%;"/>
                    <select name="sex1" class="form-control" style="margin-top:20px;margin-left:35%;width:30%;">
                        <option>男</option>
                        <option>女</option>
                    </select>
                    <input name="age" type="text" placeholder="年龄" class="form-control" style="margin-top:20px;margin-left:35%;width:30%;"/>
                    <textarea name="signature" placeholder="个性签名" class="form-control" rows="3" style="margin-top:20px;margin-left:35%;width:30%;"></textarea>
                    <button class="btn btn-default" style="margin-left:48%;margin-top:20px;" type="submit">提交</button>
                </form>
            </div>
            <div class="tab-pane fade" id="email">
                <form name="emailForm" th:action="@{/editUserInfo/{col}(col='email')}" onsubmit="return validateEmail();">
                    <input name="email" type="text" placeholder="邮箱" class="form-control" style="margin-left:35%;margin-top:40px;width:30%;"/>
                    <button class="btn btn-default" style="margin-left:48%;margin-top:20px;" type="button" onclick="validateEmail();">提交</button>
                </form>
            </div>
            <div class="tab-pane fade" id="head">
                <div style="margin-left:50px;margin-top:35px;">
                    <form th:action="@{/head_photo_cut}" enctype="multipart/form-data" method="post">
                        <input id="file" type="file" name="file" style="float:left;"/>
                        <button class="btn btn-default" style="margin-left:20px;" type="submit">上传头像</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="pwd">
                <form th:action="@{/editUserInfo/{col}(col='pwd')}">
                    <input name="oldPwd" type="password" placeholder="原密码" class="form-control" style="margin-left:35%;margin-top:40px;width:30%;"/>
                    <input name="password" type="password" placeholder="新密码" class="form-control" style="margin-top:20px;margin-left:35%;width:30%;"/>
                    <button class="btn btn-default" style="margin-left:48%;margin-top:20px;" type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>