<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/sample.css}" rel="stylesheet"/>
</head>
<body>

    <!-- 前台导航栏（未登录） -->
    <div class="bar" style="background-color: black" th:fragment="bar">
        <!-- logo -->
        <div class="logo">
            <a th:href="@{/index.html}"><img th:src="@{/img/logo.png}"/></a>
        </div>
        <!-- typeList -->
        <div class="list">
            <ul>
                <li th:each="type:${session.typeList}"><a th:href="@{/index.html}" th:text="${type.name}"></a></li>
            </ul>
        </div>
        <!-- login & reg -->
        <div class="button">
            <a th:href="@{/index.html}">登录</a>
            <a th:href="@{/index.html}">注册</a>
        </div>
        <!-- search -->
        <div class="input">
            <input type="text" placeholder="搜索一切想搜索的东西..."/>
        </div>
    </div>

</body>
</html>