<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/base_info.css}" rel="stylesheet"/>
</head>
<body>

    <div id="main" th:fragment="info">
        <div id="form">
            <div id="list">
                <div class="a"><a>基本信息</a></div>
                <div class="a"><a>基本信息</a></div>
                <hr/>
            </div>
            <div id="content">
                <input></div>
                <textarea></textarea>
                <button></button>
            </div>
        </div>
    </div>

</body>
</html>