<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>随笔</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        img{
            width:30px;
            height:30px;
            margin-right:12px;
        }
        span{
            float:left;
            margin-top:8px;
            margin-right:5px;
        }
        .first_p{
            clear:both;
        }
        .count{
            float:right;
            color:#AAAAAA;
        }
        .more{
            float: right;
        }
    </style>
</head>
<body>

    <!-- container -->
    <div class="container">
        <!-- bar && bar_login -->
        <div th:if="not ${session.loginUser}">
            <div th:replace="sample/sample::bar"></div>
        </div>
        <div th:if="${session.loginUser}">
            <div th:replace="sample/sample::bar_login"></div>
        </div>
        <!-- introduce -->
        <div class="jumbotron" style="height:210px;padding-top:10px;margin-bottom:0px;">
            <h3>
                个人博客
            </h3>
            <p>
                这里是基于兴趣使然的个人博客开发小网站，什么功能都还没有，前端也莫得，后端也莫得，并发控制也莫得，安全控制也莫得。
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">了解更多</a>
            </p>
        </div>
        <!-- blog -->
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header" >
                    <h3>最新更新</h3>
                </div>
                <div th:each="latestJotting:${latestJottings}" class="col-md-6 column">
                    <img th:src="@{${latestJotting.user.headPhoto}}" style="float:left"/>
                    <span class="label label-default" th:text="${latestJotting.type.name}"></span>
                    <h4 th:text="${latestJotting.title}" style="float:left"></h4>
                    <p class="count" th:text="${latestJotting.commentList.size()}+' 评论'"></p>
                    <p class="count" th:text="${latestJotting.readCount}+' 浏览 ·'"></p>
                    <p class="first_p" th:text="${latestJotting.summary}"></p>
                    <p><a class="btn" href="#" th:href="@{/blog(id=${latestJotting.id})}">阅读博客</a></p>
                </div>
                <div>
                    <a href="#" class="more" th:href="@{/user/jotting/latestindex}">更多</a>
                </div>
            </div>
            <div class="col-md-12 column">
                <div class="page-header">
                    <h3>热门随笔</h3>
                </div>
                <div th:each="hotestJotting:${hotestJottings}" class="col-md-6 column">
                    <img th:src="@{${hotestJotting.user.headPhoto}}" style="float:left"/>
                    <span class="label label-default" th:text="${hotestJotting.type.name}"></span>
                    <h4 th:text="${hotestJotting.title}" style="float:left"></h4>
                    <p class="count" th:text="${hotestJotting.commentList.size()}+' 评论'"></p>
                    <p class="count" th:text="${hotestJotting.readCount}+' 浏览 ·'"></p>
                    <p class="first_p" th:text="${hotestJotting.summary}"></p>
                    <p><a class="btn" href="#" th:href="@{/blog(id=${hotestJotting.id})}">阅读博客</a></p>
                </div>
                <div>
                    <a href="#" class="more"  th:href="@{/user/jotting/hotestindex}">更多</a>
                </div>
            </div>
            <div class="col-md-12 column">
                <div class="page-header">
                    <h3>名家推荐</h3>
                </div>
                <div th:each="recommendJotting:${recommendJottings}" class="col-md-6 column">
                    <img th:src="@{${recommendJotting.user.headPhoto}}" style="float:left"/>
                    <span class="label label-default" th:text="${recommendJotting.type.name}"></span>
                    <h4 th:text="${recommendJotting.title}" style="float:left"></h4>
                    <p class="count" th:text="${recommendJotting.commentList.size()}+' 评论'"></p>
                    <p class="count" th:text="${recommendJotting.readCount}+' 浏览 ·'"></p>
                    <p class="first_p" th:text="${recommendJotting.summary}"></p>
                    <p><a class="btn" href="#" th:href="@{/blog(id=${recommendJotting.id})}">阅读博客</a></p>
                </div>
                <div>
                    <a href="#" class="more" th:href="@{/user/jotting/recommendindex}">更多</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>