<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.RoleMapper" >

    <resultMap id="role_full" type="Role">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="role_simple" type="Role">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="select" parameterType="int" resultMap="role_simple">
        select * from role where id = #{id}
    </select>

</mapper>