<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.TypeMapper" >

    <resultMap id="type_full" type="Type">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="type_simple" type="Type">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="selectAll" resultMap="type_simple">
        select * from type;
    </select>

    <select id="selectById" resultMap="type_simple">
        select * from type where id = #{id};
    </select>

</mapper>