<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.TypeMapper" >

    <resultMap id="type_full" type="Type">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <resultMap id="type_admin" type="Type">
        <id column="id" property="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="selectAll" resultMap="type_admin">
        select * from type
    </select>

    <select id="selectById" resultMap="type_full">
        select * from type where id = #{id}
    </select>

    <select id="selectByName" resultMap="type_full">
        select * from type where name = #{name}
    </select>

    <select id="selectCount" resultType="_int">
        select count(*) from type
    </select>

    <insert id="insert" parameterType="string">
        insert into type(name) value(#{name})
    </insert>

    <update id="updateName" parameterType="string">
        update type set name = #{param2} where name = #{param1}
    </update>

    <delete id="deleteByName" parameterType="string">
        delete from type where name = #{name}
    </delete>

</mapper>