<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.UserMapper" >

    <resultMap id="user" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
        <result column="signature" property="signature"/>
        <result column="head_photo" property="headPhoto"/>
        <association property="role" column="role_id" select="com.blog.mapper.RoleMapper.select"/>
        <collection property="blogList" column="id" select="com.blog.mapper.BlogMapper.selectByUserId"/>
        <collection property="commentList" column="id" select="com.blog.mapper.CommentMapper.selectByUserId"/>
    </resultMap>

    <resultMap id="user_simple" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="head_photo" property="headPhoto"/>
    </resultMap>

    <resultMap id="user_session" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="head_photo" property="headPhoto"/>
    </resultMap>

    <select id="selectFullById" parameterType="int" resultMap="user">
        select * from user where id = #{id};
    </select>

    <select id="selectUser" resultMap="user_session" parameterType="User">
        select * from user where name = #{param1} and password = #{param2}
    </select>

    <select id="selectById" parameterType="int" resultMap="user_simple">
        select * from user where id = #{id};
    </select>

    <select id="selectSimpleById" resultMap="user_simple" parameterType="int">
        select * from user where id = #{id};
    </select>

    <insert id="insert" parameterType="User">
        insert into user(name,password,head_photo,role_id) value(#{name},#{password},#{headPhoto},#{role.id});
    </insert>

    <update id="update" parameterType="User">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name != ''">
              name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="sex != null">
              sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="signature != null and signature != ''">
                signature = #{signature},
            </if>
        </trim>
        where id = #{id};
    </update>

</mapper>